@model TestTask.Models.Contact

<h4 class="text-center">Create new contact</h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-10">
        <form asp-action="Create" class="js-contact-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control js-name" />
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label">Mobile phone</label>
                <input asp-for="MobilePhone" class="form-control js-mobile-phone" />
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label">Job title</label>
                <input asp-for="JobTitle" class="form-control js-job-title" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Birth date</label>
                <input asp-for="BirthDate" type="date" class="form-control js-birthday" />
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src=~/js/validation.js></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
